# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/coverage
/.next/
/apps/web/.next/
/out/
/build
dist

.env*
.turbo

*.tsbuildinfo
next-env.d.ts


/**/generated/prisma